h1 {
	font-family:	"Comic Sans MS", "Comic Sans", cursive;
	text-align:	center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
	text-align: center;
	font-size: 200%;
}

li {
  display: inline;
}
